body{
  font-size: 125%;
  line-height: 1.5;
}

h1{
  color: #0F5BB2;
}

h2{
  color: #0F5BB2;
  font-size: 175%;
}
h3{
  text-align: center;
}

h4{
  color: #63ACFF;
  margin: 0;
}

p{
  margin: 0;
}

.border-elevation{
  box-shadow: 8px 8px 16px #709ccc;
  border-color: #709ccc;
  border-style: solid;
  border-width: 1px;
  padding: 10px;
}

.world-map{
  margin-bottom: 30px;
}

.first-box{
  text-align: left;
}

.second-box{
  margin-top: 5%;
  margin-bottom: 5%;
}

.donation-site{
  font-size: 90%;
  margin-top: 3%;
}

/***********************************************************SHADI'S STYLING************************************************************/


/* heading */
.big-heading {
  font-family: 'Montserrat', sans-serif;
  color: white;
  font-size: 3.5rem;
  line-height: 1.5;
  font-weight: 900;
}

/* containers */
#navbar .container-fluid {
  padding: 0 10%;
}

#title .container-fluid {
  padding: 8% 10% 3%;
}

.container-fluid {
  padding: 4% 10% 3%;
}

/* navbar */
#navbar {
  background-color: white;
  box-shadow: 20px 0 20px black;
}
.nav-item {
  padding: 0 20px;
}
/* title */
#title {
  background-image: linear-gradient(#2ebfc6, #322072);;
  text-align: left;
  margin-bottom: 50px;
}

#title .col-lg-4 {
  display: flex;
  justify-content: center;
  align-items: center;
}

.map-container {
  text-align: center;
  position: relative;
}

.world-map {
  width: 100%;
  z-index: -1;
}

.fa-solid {
  color: red;
  position: absolute;
  font-size: 1.3em;
}

.marker1 {
  right: 48%;
  bottom: 44%;
}

.marker2 {
  left: 43.5%;
  top: 53%;
}

.marker3 {
  top: 52%;
  right: 40%;
}

.marker4 {
  bottom: 38%;
  right: 42%;
}

.marker5 {
  bottom: 55%;
  left: 55%;
}

.marker1:hover {
color: blue;
}
.marker2:hover {
color: blue;
}
.marker3:hover {
color: blue;
}
.marker4:hover {
color: blue;
}
.marker5:hover {
color: blue;
}
 /* description */
 #description {

 }
 .left-side {
   padding-right: 5%;
 }

 /* about us */
 #about-us{
background-image: linear-gradient(#2ebfc6, #322072);;
color: white;
text-align: center;
 }
 /* footer */
 #footer {
   background-color: white
   color: #63ACFF;
 }

 #footer .fa-solid {
   font-size: 1em;
   color: white;
   position: static;
   padding: 0 5px;
 }
/* Media queries */
@media (max-width: 1028px) {
  #title .container-fluid {
      padding: 20% 10% 3%;
  }
    #title {
      text-align: center;
    }
  }
